@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(231, 236, 228);
    overflow-x: hidden;
}

.navbar-brand > img{
    width: 225px;
    margin-left: 25px;
}
#navbarNav {
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: large; 
    font-family:'Open Sans', sans-serif; 
    font-weight:bold; 
    color: red; 
    margin: auto;
}
.navbar-nav{
    margin-left: 25px;
}

.active{
    color:red;
}

.hm-welcome{
    font-weight: bolder;
    margin-top: 25px;
}
.divider { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #ff0000, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #ff0000, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #ff0000, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #ff0000, #f0f0f0); 
  }

  h5{
      font-weight:bolder;
      color: #308D46;
  }

.row-mrgn{
      margin-top: 10px;
  }

  .card-text{
      text-align: center;
      text-decoration:none;
      color: #308D46 ;
      font-weight:bolder;
  }
  .footer-text{
    text-align: left;
    text-decoration:none;
    color: #308D46 ;
    font-size: large;
    font-weight:bold;
    margin-top: 10px;
  }
  
  .footer-link{
    text-align: left;
    text-decoration:none;
    color: #696969 ;
    font-weight:bolder;
    margin-top: 10px;
  }
  .footer-link > ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      
  }

  .footer-link > ul > li> a{
    text-decoration: none;
    color: #696969;
}

.footer-link > ul > li> a:hover{
    text-decoration: none;
    color: #308D46;
}

  .footer-icon{
      width: 25px;
      height: 25px;
      margin: 0 10px 0 25px;
  }

  .up-arrow{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color: #3b3b3b;
    border-radius: 10px;
    
}

.up-arrow > img{
    width: 50px;
    height: 50px;
    /* border: 2px solid white; */
    border-radius: 10px;
}

.read-para{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: black;
}

.read-para > span{
    font-weight: bolder;
}

.question{
    font-family: 'Roboto', sans-serif;
    color: #308D46;
}
.qa-list{
    list-style: none;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #e0e0e0;
    padding: 2px;
    font-size: 105%;
  }

  #date{
    font-family: 'Roboto', sans-serif;
    color: #308D46;
    font-style: italic;
  }

  /* Right Div++++++++++++++++++++++++++++++++++++ */


  /* ######################################    MEDIA QUERIES    ################################# */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */


  /* SPECIAL SYMBOL */
  /* &#60;stdio.h&#62; */


  /* Aside */
div.aside {
    background: #FFFFFF;
    /* border: 1px solid #D9D2D0; */
    border-radius: 3px;
    width: 350px;

    }
    
div.aside > h3 {
      font-weight: bold;
      color: #308D46;
      font-stretch:normal;
      font-size: 30px;
      border-bottom: 1px solid #D9D2D0;
      padding: 10px
    }
    
div.list li {
    height: auto;
    list-style: none;
}

div.list li:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
}
    
div.list li a {
    line-height: 18px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

div.list li a:hover {
    line-height: 18px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #308D46;
    font-weight: bold;
    }
    
div.more {
    border-top: 1px solid #D9D2D0;
    text-align: right;
    color: #026EAD;
}
    
div.more a {
    font-size: 12px;
    position: relative;
    right: 0px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration:none;
}
    
div.more a:hover {
    right: 10px;
    }
    li, a, a:after, a:hover:after, button {
    cursor: pointer;
    transition: all 0.25s ease;
    }
    div.more a:after {
    content:"\2192";
    position: relative;
    right: 10px;
    opacity: 0;
    }
      
div.more a:hover:after {
content:"\2192";
right: -5px;
opacity: 1;
}    